@tailwind base;
@tailwind components;
@tailwind utilities;

/* @keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white; }
}

.animate-typing {
    overflow: hidden;
    border-right: .15em solid white;
    white-space: nowrap;
    width: 0;
    animation:
        typing 3.5s steps(40, end) forwards,
        blink-caret .75s step-end infinite;
} */



@layer base {
    .font-outline-1 {
      -webkit-text-stroke: 1px white;
    }
}

/* .hero-blend {
    background-image: url('./assets/bg.gif');
    background-size: cover;
    background-repeat: no-repeat;
    mix-blend-mode: multiply; 
} */

.magicpattern { 
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;
    background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3ClinearGradient id=%22b%22%3E%3Cstop offset=%220%25%22 stop-color=%22%237b81f6%22%2F%3E%3Cstop offset=%22100%25%22 stop-color=%22%2367b8ee%22%2F%3E%3C%2FlinearGradient%3E%3CclipPath id=%22a%22%3E%3Cpath fill=%22currentColor%22 d=%22M809 629q-51 129-180 158.5t-288 30Q182 818 142 659t46-272q86-113 199-180t260.5-34.5q147.5 32.5 180 180T809 629Z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cg clip-path=%22url(%23a)%22%3E%3Cpath fill=%22url(%23b)%22 d=%22M809 629q-51 129-180 158.5t-288 30Q182 818 142 659t46-272q86-113 199-180t260.5-34.5q147.5 32.5 180 180T809 629Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  }
  
  
header ul li {
    @apply px-3 ;
}

.active{
    @apply py-1 border-b-2 border-secondary;
}

.bg-primary{
    /* background-color: rgb(19, 31, 189); */
    @apply bg-gradient-to-r from-blue-800 to-indigo-950;
}

.bg-secondary{
    /* background-color: rgb(23, 84, 227); */
    @apply bg-gradient-to-r from-blue-800 to-gray-900;
        
}

.card-hoverr-eff{
    @apply md:hover:-translate-y-3 hover:cursor-pointer transition duration-300 ease-in-out;
}

.mobile-nav{
    @apply fixed top-20 left-0 w-full h-1/4;
}

.mobile-nav li{
    @apply w-full h-full text-center bg-blue-900 hover:bg-blue-950 border-b-2 items-center py-3 ;
    
}

.project-desc{
    @apply absolute md:h-[200px] h-[160px] top-0 left-0 right-0 bottom-0 bg-primary opacity-0 hover:opacity-90 cursor-pointer transition duration-200;
}

.button-link{
    /* @apply bg-gray-200 text-gray-900 font-bold font-list-font px-3 py-2 rounded-md hover:scale-105; */
    @apply text-gray-900 font-semibold bg-gradient-to-r from-teal-400 to-blue-400 hover:from-blue-400 hover:to-teal-400 hover:text-white px-3 py-2  rounded-md drop-shadow-md;

}

.btn-prj{
    /* @apply bg-gray-200 text-gray-900 font-bold font-list-font px-3 py-2 rounded-md hover:scale-105; */
    @apply text-gray-900 font-semibold bg-gradient-to-r from-indigo-400 to-blue-400 hover:from-blue-400 hover:to-indigo-400 hover:text-white px-5 py-2  rounded-xl drop-shadow-md;

}

.btn-dark{
    /* @apply  text-white bg-gray-700 px-3 py-3 rounded-md hover:scale-105 drop-shadow-md; */
    @apply text-white bg-gradient-to-r from-teal-400 to-blue-500 hover:from-pink-500 hover:to-orange-500 px-3 py-3 rounded-md drop-shadow-md;
}

/* .txt-gradient{
    @apply bg-gradient-to-r from-violet-900 font-bold to-violet-500  text-transparent bg-clip-text;
} */

html{
    scroll-behavior: smooth;
}

.bg-border-prj{
    /* @apply bg-gray-200 text-gray-900 font-bold font-list-font px-3 py-2 rounded-md hover:scale-105; */
    @apply text-gray-900 bg-gradient-to-r from-indigo-700 to-blue-500 hover:from-blue-700 hover:to-indigo-400 hover:cursor-pointer p-2 rounded-lg drop-shadow-lg;

}